{% extends 'zoom_numbers/base.html' %}

{% block content %}

<div class = "top">Visits to the Food Shelf</div>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Food Shelf Visits</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<div class = "content">
	<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">Month</th>
			<th class="text-left">Number of visitors</th>
		</tr>
	</thead>

	<tbody class="table-hover">
	{% for month in visits %}
		<tr>
			<td class="text-left"> {{ month }} </td>
			<td class="text-left"> {{ month.number_visits }} </td>
		</tr> 
	{% endfor %}
	</tbody>
	</table>
</div> 

{% endblock %}