{% extends 'zoom_numbers/base.html' %}

{% block content %}

<div id = "header">
    <a href="{% url 'home' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Home Page</a>
    <span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>

<div class = "top">
	Monthly Numbers
</div>

<h1>
    <span><a href="{% url 'ymca_visits' %}" class = "btn btn-default">YMCA visits</a></span>
    <span><a href="{% url 'food_shelf_visits' %}" class = "btn btn-default">Food Shelf visits</a></span>
    <span><a href="{% url 'police_calls' %}" class = "btn btn-default">Police Calls</a></span>
    <span><a href="{% url 'questions_of_month' %}" class = "btn btn-default">Questions of the Month</a></span>
</h1>

{% endblock %}