{% extends 'zoom_numbers/base.html' %}

{% block content %}

<div id = "header">
	<a href="{% url 'police_calls' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Police Calls Summary</a>
	<span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>

    <h1>Police Calls</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <br>
    <br>

{% endblock %}