{% extends 'zoom_numbers/base.html' %}

{% block content %}

<div id = "header">
	<a href="{% url 'monthly_numbers' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Monthly Numbers Page</a>
	<span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>

<h1>Police Calls
	<div id = "edit">
		<a class = "btn btn-default" href="{% url 'police_calls_new' %}"><span class="glyphicon glyphicon-plus"></span>Add a month's police call records</a>
	</div>
</h1>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Police Calls</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<div class = "content">
	<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">Month</th>
			<th class="text-left">Total calls</th>
			<th class="text-left">DOMESTIC</th>
			<th class="text-left">DISTURBANCE</th>
			<th class="text-left">DRUG</th>
			<th class="text-left">VIOLENCE</th>
			<th class="text-left">ASSAULT</th>
			<th class="text-left">THEFT</th>
			<th class="text-left">OTHER </th>
		</tr>
	</thead>

	<tbody class="table-hover">
	{% for month in calls %}
		<tr>
			<td class="text-left"> {{ month }} </td>
			<td class="text-left"> {{ month.total_calls }} </td>
			<td class="text-left"> {{ month.domestic }} </td>
			<td class="text-left"> {{ month.disturbance }} </td>
			<td class="text-left"> {{ month.drug }} </td>
			<td class="text-left"> {{ month.violence }} </td>
			<td class="text-left"> {{ month.assault }} </td>
			<td class="text-left"> {{ month.theft }} </td>
			<td class="text-left"> {{ month.other }} </td>
		</tr> 
	{% endfor %}
	</tbody>
	</table>
</div> 



{% endblock %}