{% extends 'zoom_numbers/base.html' %}

{% block content %}

<div id = "header">
	<a href="{% url 'monthly_numbers' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Monthly Numbers Page</a>
	<span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>


<h1>Questions of the Month
	<div id = "edit">
		<a class = "btn btn-default" href="{% url 'question_month_new' %}"><span class="glyphicon glyphicon-plus"></span>Add a Question of the Month</a>
	</div>
</h1>


<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Questions of the Month</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<div class = "content">
	<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">Month</th>
			<th class="text-left">Question</th>
		</tr>
	</thead>

	<tbody class="table-hover">
	{% for question in questions %}
		<tr>
			<td class="text-left"> {{ question.month }}, {{question.year}} </td>
			<td class="text-left"> <a href = "{% url 'question_month_detail' pk=question.pk %}"> {{ question }} </a></td>
		</tr> 
	{% endfor %}
	</tbody>
	</table>
</div> 



{% endblock %}