{% extends 'zoom_data/base.html' %}

{% block content %}

<div id = "header">
		<a href="{% url 'activities_list' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Activities List</a>
		<span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>

    <h1>New Attendance - {{activity}} </h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <br>
{% endblock %}