
{% load static %}

<head>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		
		<!-- Latest compiled and minified CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="{% static 'css/zoom_data.css' %}">
		
		<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
		<link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.js"></script>
		
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
</head>

<body>
	<div id = "header">
		<img id = "zoom_logo" src="/static/images/ZOOM-logo.png">
	</div>

	<h1>
    <span><a href="{% url 'household_list' %}" class = "btn btn-default">Resident Households</a></span>
    <span><a href="{% url 'past_household_list' %}" class = "btn btn-default">Past Resident Households</a></span>
    <span><a href="{% url 'activities_list' %}" class = "btn btn-default">Resident Activities</a></span>
		<span><a href="{% url 'monthly_numbers' %}" class = "btn btn-default">Monthly Numbers</a></span>
        <span><a href="{% url 'volunteer_home' %}" class = "btn btn-default">Volunteers</a></span>
        <span><a href="{% url 'events_list' %}" class = "btn btn-default">Events</a></span>
        <span><a href="{% url 'grants_list' %}" class = "btn btn-default">Grants and Funding</a></span>
	</h1>

	<div id = "welcome">
		Welcome to the ZOOM Database!
  </div>
  <br>

  <div class = "top">
    Current Resident Dashboard
  </div>
  
  <div class = "content">
      <table class="table-fill">
      <thead>
        <tr>
            <th class="text-left"></th>
            <th class="text-left">Households</th>
          <th class="text-left">Adult Residents</th>
          <th class="text-left">Child Residents</th>
        </tr>
      </thead>
    
      <tbody class="table-hover">
        <tr>
          <td class="text-left"> Total Number </td>
          <td class="text-left"> {{households.count}} </td>
          <td class="text-left"> {{residents.count}} </td>
          <td class="text-left"> {{children.count}} </td>
        </tr>
        <tr>
            <td class="text-left"> Average Length of Stay</td>
            <td class="text-left"> {{ave_stays_households}} days </td>
            <td class="text-left"> {{ave_stays_residents}} days </td>
            <td class="text-left"> {{ave_stays_children}} days </td>
        </tr>
        <tr>
            <td class="text-left"> Male </td>
            <td class="text-left"> N/A </td>
            <td class="text-left"> {{residents_male.count}} </td>
            <td class="text-left"> {{children_male.count}} </td>
        </tr>
        <tr>
            <td class="text-left"> Female </td>
            <td class="text-left"> N/A </td>
            <td class="text-left"> {{residents_female.count}} </td>
            <td class="text-left">  {{children_female.count}} </td>
        </tr>
        <tr>
            <td class="text-left"> In Supportive Housing </td>
            <td class="text-left"> {{households_sh.count}} </td>
            <td class="text-left"> {{residents_sh.count}} </td>
            <td class="text-left"> {{children_sh.count}} </td>
        </tr>
        <tr>
            <td class="text-left"> In MARIF Units</td>
            <td class="text-left">{{households_marif.count}} </td>
            <td class="text-left"> {{residents_marif.count}} </td>
            <td class="text-left"> {{children_marif.count}} </td>
        </tr>
        <tr>
            <td class="text-left"> In Studio Units</td>
            <td class="text-left">{{households_studio.count}} </td>
            <td class="text-left"> {{residents_studio.count}} </td>
            <td class="text-left"> N/A </td>
        </tr>

      </tbody>
      </table>
    </div>
<br>

	<div id = "log-in-status">
			{% if user.is_authenticated %}
				You are logged in
				<button type="button"><a href="{% url 'logout' %}"><span>log out</span></a></button>
			{% else %}
				You are NOT logged in
				<button type="button"><a href="{% url 'login' %}"><span>log in</span></a></button>
			{% endif %}
	</div>
	
</body>