{% extends 'zoom_vols/base.html' %}

{% block content %}
<div id = "header">
    <a href="{% url 'volunteer_home' %}"><span class="glyphicon glyphicon-triangle-left"></span> Return to Volunteer Home</a>
    <span><img id = "zoom_logo" src="/static/images/ZOOM-logo.png"></span>
</div>
    <h1>New record of hours</h1>
    
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}